<h2><%=@game.name%> - All levels</h2>
<% @scores.keys.sort.each do |level| %>
<a href="/highscores/level?game_id=<%=@game.id%>&level=<%=level%>">Level <%= level %></a>
<ol>
<%= render(:partial=>"level", :collection=>@scores[level]) %>
</ol>
<% end %>
